<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Lo que hago
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">¿A qué me decico?</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card class="card-redes">
        <ion-card-subtitle class="subtitle">Soy Ing de software</ion-card-subtitle>
        <ion-card-content class="justify">
            Me gradue en diciembre de 2021 del TecMM, realice mi recidencia profesional en una desarrolladora de software de mi ciudad. Mi proyecto consistio en el desarrollo de un RP para una microempresa Panificadora de la region, para realizarlo utlice c#, mysql.
            Actualmente me encuentro en un curso para mejorar mis habilidades, si quieres conocer más de mí te invito a mis redes.
        </ion-card-content>
    </ion-card>
    <ion-card class="card-redes">
        <ion-card-subtitle class="subtitle">Redes</ion-card-subtitle>
        <a href="https://github.com/GabyEs16" class="a"><img src="../../assets/icon/git.png" width="15px"> GabyEs16</a> <br>
        <a href="https://www.linkedin.com/in/gabriela-escobedo-hernandez-677649189" class="a"><img src="https://www.freepnglogos.com/uploads/linkedin-logo-transparent-picture-31.png" width="15px" /> Gabriela Escobedo</a>
    </ion-card>
    <button class="button"> Contactar</button>
</ion-content>